ase==3.22.1
jupyterlab==3.6.6
matplotlib==3.7.3
numpy==1.24.4
pymatgen==2023.8.10
nglview==3.0.8
scikit-learn~=0.22.2.post1
scipy~=1.5.2

pre-commit
black
isort
flake8
flake8-docstrings
flake8-builtins
pyupgrade
black[jupyter]
sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-bibtex
sphinx-copybutton
