ase # TODO Fix version of all requiremnts
cython
jupyter
jupyterlab
jupyter-bokeh
matplotlib>=3.3.3
MPInterfaces
pymatgen==2019.10.16
nglview
numpy>=1.19
scikit-learn~=0.22.2.post1
scipy~=1.5.2
pre-commit
black
isort
flake8
flake8-docstrings
flake8-builtins
pyupgrade
black[jupyter]
sphinx
sphinxcontrib-napoleonpip
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-bibtex
sphinx-copybutton
